body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #0B0B13; 
}


.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #0B0B13;
  color: white;
}

.topSection {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.visualiserContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: #0B0B13;
  border-radius: 10px;
}


.visualStage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.controlButtons {
  display: flex; 
  gap: 10px;
  padding: 20px;
  justify-content: right;
}

.sideBar {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #10101c;
  border: 1px solid #393838;
  border-radius: 5px;
  position: relative;
}

.tabs {
  position: absolute;
  left: -38px;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tabButton {
  writing-mode: vertical-rl;
  padding: 16px 10px;
  border-radius: 8px 0px 0px 8px;
  border-right: none;
  background-color: #252526;
  letter-spacing: 2px;
}

.sideTab:hover {
  background-color: #3a3a3c;
}

.bottomBar {
  padding: 30px;
  display: flex;
  justify-content: left;
  background-color: #10101c;
  border-radius: 5px;
  border: 1px solid #393838;
  gap: 10px;
}

.dsaButtons button{
  padding: 8px;
  margin: 10px
}


button {
  border-radius: 5px;
  background-color: #3a3a3c;
  color: white;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer; 
  transition: all 0.2 ease;
}

button:hover {
  background-color: #555;
  border: 1px solid #01a778;
}

button:active {
  transform: scale(0.9);
}

